Repository kakao-tech-campus-3rd-step3/Team18_BE, pull requests merged in 2025-09, with the labels that each got.

#13 [FEATURE] 전역 예외 처리 설정 (#11)
  build.gradle
  src/main/java/com/kakaotech/team18/backend_server/Team18BeApplication.java
  src/main/java/com/kakaotech/team18/backend_server/domain/applicationFormField/entity/ApplicationFormField.java
  src/main/java/com/kakaotech/team18/backend_server/global/config/JpaAuditingConfig.java
  src/main/java/com/kakaotech/team18/backend_server/global/exception/code/ErrorCode.java
  src/main/java/com/kakaotech/team18/backend_server/global/exception/dto/ErrorResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/global/exception/exceptions/CustomException.java
  src/main/java/com/kakaotech/team18/backend_server/global/exception/handler/GlobalExceptionHandler.java
  src/test/java/com/kakaotech/team18/backend_server/global/exception/handler/GlobalExceptionHandlerTest.java
Labels: ♻️ refactor, ✅ test, 💫 feat

#36 [FEATURE] 지원자 목록에서 특정 지원자 선택 시, 해당 지원서 페이지로 이동 (#31)
  src/main/java/com/kakaotech/team18/backend_server/domain/application/controller/ApplicationController.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/dto/ApplicationDetailResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/entity/Application.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/repository/ApplicationRepository.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/service/ApplicationService.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/service/ApplicationServiceImpl.java
  src/main/java/com/kakaotech/team18/backend_server/domain/applicationFormAnswer/entity/ApplicationFormAnswer.java
  src/main/java/com/kakaotech/team18/backend_server/domain/applicationFormAnswer/repository/ApplicationFormAnswerRepository.java
  src/main/java/com/kakaotech/team18/backend_server/domain/applicationFormField/entity/ApplicationFormField.java
  src/main/java/com/kakaotech/team18/backend_server/global/exception/code/ErrorCode.java
  src/main/java/com/kakaotech/team18/backend_server/global/exception/exceptions/ApplicationNotFoundException.java
  src/test/java/com/kakaotech/team18/backend_server/domain/application/controller/ApplicationControllerTest.java
  src/test/java/com/kakaotech/team18/backend_server/domain/application/service/ApplicationServiceImplTest.java
Labels: ✅ test, 💫 feat

#42 [REFACTOR]: 동아리 상세 조회 에러 코드 추가 (#29)
  src/main/java/com/kakaotech/team18/backend_server/domain/club/service/ClubServiceImpl.java
  src/main/java/com/kakaotech/team18/backend_server/global/exception/exceptions/ClubNotFoundException.java
  src/test/java/com/kakaotech/team18/backend_server/domain/club/service/ClubServiceImplTest.java
  src/test/java/com/kakaotech/team18/backend_server/domain/club/service/ClubServiceTest.java
Labels: ♻️ refactor, ✅ test, 💫 feat

#43 [BUG] ApplicationFormField 버그 해결
  src/main/java/com/kakaotech/team18/backend_server/domain/applicationFormField/entity/ApplicationFormField.java
Labels: 🐛 bug

#47 [REFACTOR] GitHub Actions 파이프라인 CI/CD 별로 분리 (#21)
  .github/workflows/GithubPrNotification.yml
  .github/workflows/cd-on-merge.yml
  .github/workflows/ci-on-pr.yml
Labels: ♻️ refactor, 🗃 infra

#48 [FEATURE] 지원자의 합격/불합격/미정 여부 변경 기능 (#33)
  src/main/java/com/kakaotech/team18/backend_server/domain/application/controller/ApplicationController.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/dto/ApplicationStatusUpdateRequestDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/entity/Application.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/entity/Status.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/service/ApplicationService.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/service/ApplicationServiceImpl.java
  src/main/java/com/kakaotech/team18/backend_server/global/dto/SuccessResponseDto.java
  src/test/java/com/kakaotech/team18/backend_server/domain/application/controller/ApplicationControllerTest.java
  src/test/java/com/kakaotech/team18/backend_server/domain/application/service/ApplicationServiceImplTest.java
Labels: ✅ test, 💫 feat

#54 [FEATURE] 동아리 대쉬보드 조회 기능 구현 (#22)
  src/main/java/com/kakaotech/team18/backend_server/domain/applicant/dto/ApplicantResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/applicant/entity/Applicant.java
  src/main/java/com/kakaotech/team18/backend_server/domain/applicant/repository/ApplicantRepository.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/entity/Application.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/repository/ApplicationRepository.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/controller/ClubController.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/dto/ClubDashBoardResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/entity/ClubImage.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/entity/ClubIntroduction.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/repository/ClubImageRepository.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/repository/ClubIntroductionRepository.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/service/ClubService.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/service/ClubServiceImpl.java
  src/main/java/com/kakaotech/team18/backend_server/domain/clubAdmin/entity/ClubAdmin.java
  src/main/java/com/kakaotech/team18/backend_server/domain/clubMember/entity/ClubMember.java
  src/main/java/com/kakaotech/team18/backend_server/domain/clubMember/entity/Position.java
  src/main/java/com/kakaotech/team18/backend_server/domain/clubMember/entity/Role.java
  src/main/java/com/kakaotech/team18/backend_server/domain/user/entity/User.java
  src/main/java/com/kakaotech/team18/backend_server/domain/user/repository/UserRepository.java
  src/test/java/com/kakaotech/team18/backend_server/domain/club/controller/ClubControllerIntegrationTest.java
  src/test/java/com/kakaotech/team18/backend_server/domain/club/controller/ClubControllerTest.java
  src/test/java/com/kakaotech/team18/backend_server/domain/club/service/ClubServiceImplTest.java
  src/test/java/com/kakaotech/team18/backend_server/domain/club/service/ClubServiceMockTest.java
  src/test/java/com/kakaotech/team18/backend_server/domain/club/service/ClubServiceTest.java
Labels: ✅ test, ❓question, 💫 feat

#63 [REFACTOR] 2차 멘토 코드리뷰 피드백 반영 (#55)
  src/main/java/com/kakaotech/team18/backend_server/domain/FormQuestion/service/FormQuestionService.java
  src/main/java/com/kakaotech/team18/backend_server/domain/FormQuestion/service/FormQuestionServiceImpl.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/dto/ClubDetailResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/dto/ClubListResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/entity/Club.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/repository/ClubRepository.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/service/ClubServiceImpl.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/util/RecruitStatusCalculator.java
  src/main/java/com/kakaotech/team18/backend_server/domain/clubApplyForm/controller/ClubApplyFormController.java
  src/main/java/com/kakaotech/team18/backend_server/domain/user/entity/User.java
  src/test/java/com/kakaotech/team18/backend_server/domain/club/service/ClubServiceImplTest.java
  src/test/java/com/kakaotech/team18/backend_server/domain/club/service/ClubServiceMockTest.java
  src/test/java/com/kakaotech/team18/backend_server/domain/club/util/RecruitStatusCalculatorTest.java
Labels: ♻️ refactor, ✅ test

#61 [FEATURE] 동아리 대쉬보드 페이지에서 지원자 결과 상태에 따른 필터링 조회 기능 구현 (#23)
  src/main/java/com/kakaotech/team18/backend_server/domain/application/entity/Status.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/controller/ClubController.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/service/ClubService.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/service/ClubServiceImpl.java
  src/main/java/com/kakaotech/team18/backend_server/domain/clubMember/repository/ClubMemberRepository.java
  src/main/java/com/kakaotech/team18/backend_server/global/converter/StatusConverter.java
  src/main/java/com/kakaotech/team18/backend_server/global/exception/code/ErrorCode.java
  src/main/java/com/kakaotech/team18/backend_server/global/exception/exceptions/StatusNotFoundException.java
  src/main/java/com/kakaotech/team18/backend_server/global/exception/handler/GlobalExceptionHandler.java
  src/test/java/com/kakaotech/team18/backend_server/domain/club/controller/ClubControllerTest.java
  src/test/java/com/kakaotech/team18/backend_server/domain/club/service/ClubServiceMockTest.java
Labels: ✅ test, 💫 feat

#65 [REFACTOR] API 명세 Swagger 리팩토링 (#58)
  build.gradle
  src/main/java/com/kakaotech/team18/backend_server/domain/FormQuestion/dto/FormQuestionResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/controller/ApplicationController.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/dto/ApplicationDetailResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/application/dto/ApplicationStatusUpdateRequestDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/controller/ClubController.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/dto/ClubDashBoardResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/dto/ClubDetailResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/club/dto/ClubListResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/clubApplyForm/controller/ClubApplyFormController.java
  src/main/java/com/kakaotech/team18/backend_server/domain/clubApplyForm/dto/ClubApplyFormResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/clubMember/dto/ApplicantResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/comment/controller/CommentController.java
  src/main/java/com/kakaotech/team18/backend_server/domain/comment/dto/CommentRequestDto.java
  src/main/java/com/kakaotech/team18/backend_server/domain/comment/dto/CommentResponseDto.java
  src/main/java/com/kakaotech/team18/backend_server/global/config/SwaggerConfig.java
  src/main/java/com/kakaotech/team18/backend_server/global/dto/SuccessResponseDto.java
Labels: ♻️ refactor, ⚙️ chore, 📝 docs
